#lesson {
    .page-header {
        display: none;
    }

    .page-header-btns, .lefthead {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: var(--ds);

        .progress-track {
            width: 100%;
        }
    }

    .lefthead {
        width: 100%;
    }

    .pageContent {
        min-height: max-content;
        height: calc(100% - 77px);
    }
    .pageContainer {
        height: 100%;
    }

    #act-area {
        position: absolute;
        left: var(--ds);
        right: var(--ds);
        bottom: var(--ds);
    }
}